/* `````ROOT````` */
:root {
  --card-set-gap: 24px;
  --card-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08);
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-color: #2e2f42;
  --secondary-color: #434455;
  --footer-bg-color: #2e2f42;
  --logo-btn-color: #4d5ae5;
  --footer-txt-color: #f4f4fd;
}

/* ````` BODY`````` */
body {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  background-color: #fff;
}
/* ,,,,,body,,,,, */

/* `````COMPONENTS````` */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img { 
display: block;
max-width: 100%;
height: auto;
}

a {
  font-family: var(--primary-font);
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

a:hover,
a:focus {
  color: #404bbf;
}

button {
  border-radius: 4px;
  min-width: 69px;
  cursor: pointer;
  color: #fff;
  background-color: var(--logo-btn-color);
}

button:hover,
button:focus {
color: #ffffff;
background-color: #404bbf;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

.logo-link {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-btn-color);
}

.item-button {
   color: var(--secondary-color);
}

.title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-color);
}

.title-descriptions { 
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}


.list {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  margin-right: calc( -1 * var(--card-set-gap));
}

.list > .item {
flex-basis: calc(100 / 4 - var(--card-set-gap));

margin-right: var(--card-set-gap);}

.card-content {padding: 32px;}
.text {margin-top: 8px;}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* .team-container * {outline: 1px solid tomato} * */


/* ,,,,,components,,,,, */

/* `````HEADER````` */
.header {
  padding-top: 25.5px;
padding-bottom: 25.5px;}

.studio-item {}
/* ,,,,,header,,,,, */

/* `````HEADER NAVIGATION````` */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.logo-header {
  color: var(--secondary-color);
}

/* 
.container {}
.header-container {}
.nav {}
.header-nav {}
.link {}
.logo-link {}
.list {}
.header-list {}
.item {}
.studio-item {}
.studio-link {}
.portfolio-item {}
.portfolio-link {}
*/

/* ,,,,,header navigation,,,,, */

/* `````ADDRESS````` */
.address-list {
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.contact {
  font-style: normal;
  font-weight: 400;
  color: var(--secondary-color);
}

.address {
  font-style: normal;
}

/* 
.contacts-item {}
.contacts-link {}
.address {}
.address-list {}
.address-item {}
.contact {}
.mail-contact {}
.tel-contact {} 
 */
/* ,,,,,address,,,,, */

/* `````MAIN````` */
/* ,,,,,main,,,,, */

/* `````MAIN PORTFOLIO````` */
/* 
.section {}
.portfolio-section {}
.container {}
 */
/* ,,,,,main portfolio,,,,, */

/* `````HERO````` */
.hero-section {
  background-color: #2e2f42;
}

.title-hero {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.business-text {
  color: #d9d9d9;
}

.button-hero {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

/* .container {} */
/* ,,,,,hero,,,,, */

/* `````GOALS`````*/
/* 
.goals {}
.container {}
.goals-container {}
.title {}
.goals-title {}
.list {}
.goals-list {}
.item {}
.title-descriptions {}
.text {}
.goals-text {}
.goals-descriprions {} 
*/
/* ,,,,,goals,,,, */

/* `````OPPORTUNITIES`````` */
/* 
.section
.opportunities-section" {}
.container {}
.opportunities-container {}
.title {}
.opportunities-title {}
.list {}
.opportunities-list {}
.item {}
.opportunitie-item {}
.image {}
.opportunitie-image {} 
*/
/* ,,,,,opportunities,,,,,*/

/* `````TEAM````` */
.team-section {
  background-color: #f4f4fd;
}

.team-card {box-shadow: var(--card-shadow);
border-radius: 4px;}
/* 
.section {}
.container {}
.team-container {}
.title {}
.team-title {}
.list {}
.team-list {}
.item {}
.team-item {}
.image {}
.team-image {}
.title-descriptions {}
.team-descriptions {}
.team-text {} 
*/
/* ,,,,,team,,,,, */

/* `````BUTTONS PORTFOLIO````` */
.filter-button {
  font-family: var (--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: var(--logo-btn-color);
  background: #f4f4fd;
}

.filter-button:hover,
.filter-button:focus { border: 1px solid transparent
  color: #ffffff;
  background-color: #404bbf;
} 

/* .title-descriptions {}
.list {}
.list-botton {}
.item {}
.item-button {}
*/
/* ,,,,,buttons portfolio,,,,, */

/* `````PORTFOLIO`````` */
/* 
.title-descriptions {}
.list {}
.list-botton {}
.item {}
.item-button {}
.filter-button {}
.list-portfolio {}
.item-portfolio {}
.link {}
.portfolio-link {}
.image {}
.portfolio-image {}
.portfolio-descriptions {}
.text {}
.portfolio-text {}
.item-portfoli {}
 */
/* ,,,,,portfolio,,,,, */

/* `````FOOTER````` */
.footer {
  background-color: var(--footer-bg-color);
}

.logo-footer {
  color: var(--footer-txt-color);
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-txt-color);
}

/* 
.container {}
.footer-container {}
.link {}
.logo-link {}
.footer-link {}
*/
/* ,,,,,foooter,,,,, */
