/* `````ROOT````` */
:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-color: #2e2f42;
  --secondary-color: #434455;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 8;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
.link { padding: 24px 0;
  text-decoration: none;
}
.list {
  list-style: none;
  margin-right: 24px;
}

/* `````BODY````` */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

/* `````COMPONENTS````` */
a:hover,
a:focus {
  color: #404bbf;
}

a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
button {
  border-radius: 4px;
  min-width: 69px;
  cursor: pointer;
  color: #fff;
  background-color: #4d5ae5;
}

button:hover,
button:focus {
  background-color: #404bbf;
}
.title-descriptions {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 32px;
}
.title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-color);
}
.team {
  background-color: #f4f4fd;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px
  color: #434455;
}

.menu-item:not(:last-child) {
  margin-right: 24px;
}

.menu-item {
  background-color: #fff;
}
p.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* `````HEADER````` */
.header {
  padding-top: 25.5px;
  padding-bottom: 25.5px;
  border-bottom: 0.5px #e7e9fc solid;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* `````NAVIGATION````` */

.navigation {
  display: flex;
  align-items: center;
}
/* `````LOGO HEAD````` */
.logo {
  margin-right: 76px;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.menu-botton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 108px;
  padding-bottom: 72px;
  margin-top: 32px;
}

.logo-header {
  color: var(--primary-color);
}

/* `````ADDRESS````` */

.menu-contact {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style: none;
  color: #434455;
}

.menu-item:nth-child(2) {
  margin-left: auto;
}

.contact {
  font-style: normal;
  color: #434455;
}
.address {
  font-style: normal;
}

.menu-contact {
  display: flex;
  align-items: center;
}

/* `````MAIN````` */
/* `````HERO````` */
section.hero {padding: 188px 0;
  background-color: #2e2f42;
}

.title-hero {
  max-width: 496px
  padding-top: 188px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  background-color: #2e2f42;
}

.business-text {
  color: #d9d9d9;
}
.button-hero {
  padding: 16px 32px;
display: block;
min-width: 169px;
height: 56px;
border: none;
  margin-bottom: 188px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

/* `````GOALS`````*/
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* `````WHAT WE DO (wwd)````` */

/* `````TEAM````` */

/* `````PORTFOLIO`````` */

.menu-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.list-portfolio {
  flex-basis: calc((100%-48) / 3);
}
.card-cont-wrapper {
  padding-top: 32px;
  border-top: 0;
  border-left: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: #434455;
}
/* `````BUTTONS PORTFOLIO````` */
.filter-button {
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: #4d5ae5;
  background: #f4f4fd;
}
.filter-button .filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}

/* `````FOOTER````` */
footer {
  margin-top: 120px;
  padding-top: 101.5px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.logo-footer {
  color: #f4f4fd;
}
